/* For global css styles, I created a new file `App.css` 
and moved the styles from `App.module.css` to it. 

This way, we can keep the global styles separate from 
the component-specific styles, which is a good practice for maintainability. */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
